Package: com.zw.youku
Name: tweak_youku
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: 赵伟
Author: 赵伟
Section: Tweaks
Version: 0.0.1-5+debug
Installed-Size: 120
